.services-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.service-card {
    padding: 20px;
    border: 2px solid cyan;
    border-radius: 10px;
    background-color: #111;
    color: white;
}

@media (min-width: 768px) {
    .services-container {
        flex-direction: row;
        justify-content: center;
        align-items: center
    }
    .service-card {
        flex: 1;
    }
}